<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>jakartaJsonpServlet</servlet-name>
		<servlet-class>com.example.JakartaJsonpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jakartaJsonpServlet</servlet-name>
		<url-pattern>/jakartaJsonp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>javaxJsonpServlet</servlet-name>
		<servlet-class>com.example.JavaxJsonpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>javaxJsonpServlet</servlet-name>
		<url-pattern>/javaxJsonp</url-pattern>
	</servlet-mapping>

    <listener>
        <listener-class>com.example.jmx.MBeanContextListener</listener-class>
    </listener>
</web-app>